

li a{
    color: black;
    text-align: justify;
    width:100px;
    border: solid white 2px;
    margin: 0px;
    font-size: 30px;

}
.list-group
{
    padding-left : 300px;
    padding-top: 200px
}

body {
    background: white url("images/background.jpg") no-repeat;
}
